<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="@gzb1985">

  <title>豆米查书</title>
  <style>
    body {
      padding-top: 30px;
      text-align: center;
    }
    body img {
      margin: 20px auto;
    }
  </style>
</head>
<body>
<h2>微信公众帐号</h2>
<h1>豆米查书（微信号doumibook）</h1>
<p>by <a target="_blank" href="http://weibo.com/gzb1985">@gzb1985</a></p>
<img src="/static/img/qrcode_for_gh_1842d32bcada_430.jpg">
</body>
</html>